<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUrl" value="https://api.document360.io"/>
    <add key="Username" value="kuzhali.maheswaran@biztalk360.co.uk"/>
    <add key="Password" value="kuzhali"/>
    <add key="ProjectversionId" value="5ff40425-9bef-4f89-a38c-2bd7f4128c73"/>
    <add key="ProjectId" value="eb1af632-8833-4f0f-997d-446764558827"/>
    <add key="AuthorizationToken" value="Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6Ik5EQkJOVFl5UWpKQk1rUkNSVEE0TmtJM05EVXpRakUxTmpVeVJUWkVSRFpFT0VaRU5EWkdOZyJ9.eyJpc3MiOiJodHRwczovL3NlY3VyZS5kb2N1bWVudDM2MC5pby8iLCJzdWIiOiJhdXRoMHw1YWQwM2QyYjZkNTk4OTBlODYzNWE1OTYiLCJhdWQiOlsiaHR0cHM6Ly9kb2N1bWVudDM2MC1wb3J0YWwtYXBpIiwiaHR0cHM6Ly9kb2MzNjAtcHJvZC5hdXRoMC5jb20vdXNlcmluZm8iXSwiaWF0IjoxNTg4MzI3NDk0LCJleHAiOjE1ODgzMzQ2OTQsImF6cCI6ImdlanlRMnZzRUlDbklHOUphcEw0VXZ3RnBWQWp6Ym9pIiwic2NvcGUiOiJvcGVuaWQgcHJvZmlsZSBlbWFpbCJ9.AN8CWa7b-PGHr-D13p6GZuvjKtOSrTQXvLqHaJsnFbq8s3Q6hhLGmZGinC7oe2wgEF9cs2wugW44b-mGH0A6OqCwiIvmYDu5elOf_2Pu-SiJ0nhriwrPSTqwy_JYl2D9vBU9Y4bfK0xxKbwdL55jUpYL6DsuOW5Eb9_RVlTYTm3mnfDA9zR9_BaHmksRlIOyI3EVFYMjVUel-BQh4O8DtrmU4Kq9GtANvdoeYhway99aMjSqAAnL984Br8KRrn8u9ksn8kORCedId-cwbRbj-42znJOX2BHE8BO4L0sxccM2uBzvdduWyGfNv4O16xVoXFkvNrV5PVyMk2hotxKkDw"/>
  </appSettings>
</configuration>