<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="name" value="kuzhali"></add>
    <add key="Baseurl" value="https://apihub.document360.info"/>
    <add key="token" value="RMi7oNbcPPwPaf3rGBsIFjzn/5voMMkUhCb2gJQ2pcNjEKzvKd3s2fie8XGiItBzL5VcGgKZGMok0G7FiZeRZfJPB0WsQd8Qc6swaLAgtJxql2N2u4Ibqa4RIgJ6WaWPQrNQf5d9dfIXBwLWsL+grQ=="/>
    <add key="DataExcelPath" value="D:\Automation\Local Repo(API Testing)\APIFramework_Document360\CA1\TestData Repro\Document360 public apis.xlsx"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urns:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>